<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
 <head>
 	
</head>
<body>
    <!-- Add your EJS code here -->
    <div style="background-color:lightblue">
    <h2><center>Please Register</center></h2>    
    <p>

    <ul>
        

        <form method="POST" <%= action=/register/ %>>
        Email Adress: <br>  
        <input type="email"   name = "email" ><br/>
        Password: <br>
        <input type = "password" name = "password"> <br>
        <input type="submit" value="submit">          
        



                    </form>          	
                             
    </ul>
</p>
</div>
</body>
