<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
 <head>
 	<% include ./partials/_header%>
</head>
<body>
    <!-- Add your EJS code here -->
    <body style="font-size:20px; padding:50px;">
    <br>
    <br>

   

    <% if (urls === 'NOlogin' ){
           %> 
            <center>Looks like you're not logged-in!</center><br>
    <center>Login now by clicking on the login button!</center><br>
    

  
    <%}

    else if(urls === "NOregister"){%>

    <center>Looks like you're not registered!</center><br>
    <center>Register now by clicking on the register button!</center><br>
    




    <%}

    else {%>

    <center>Your tiny URLs:</center>

    <ul>
        <% for (x in urls) { %>
            <li><%= urls[x]['fullURL']  %> - <%= x %> <form method="POST" action=<%=`/urls/${x}/delete`%>>  
            <input type="submit" value="Delete"></form>   <form method="POST" action=<%=`/urls/${x}/edit`%>>  
                        <input type="submit" value="edit"></form>        	

             

            </li>
        <% }; %>
    </ul>


    <%}


    %>

</body>
</html>
