  <title>TinyApp</title>
 <head>
 <% include ./partials/_header %> 
</head>
<body>
    <!-- Add your EJS code here -->

    <ul>
       
            <li><%= shortURL  %> - <%= fullURL %></li>
       
    </ul>



</body>
</html>
