  <title>TinyApp</title>
 <head>
 <% include ./partials/_header %> 
 
</head>
<body>

    
    <body style="font-size:20px; padding:50px;">




   <% if (status === 'not_owner'){%>    
   <center> Looks like this URL belongs to someone else! </center>
   <br>
   <center> Register or Login to create your own tiny URLs! </center>

    <%}

    else if (status === "not_logged_in"){%>    
       <center> YOU'RE NOT LOGED IN </center>

        <%}

    else if (status === "does_not_exist"){%>    
       <center> THIS URL DOES NOT EXIST </center>

        <%}    


   else if (status === "logged_in"){%>

      <ul>
<center>
         Current URL: 
              <%= shortURL  %> - <%= fullURL %> <br><br><br>

   Type In New Long URL:<br>

              <form method="POST" action=/urls/<%=shortURL%>>  
                          <input type="submit text"   name = "longURL" >
              <input type = "submit" name = "check" value = "update">          
              



                          </form>          	


                             


              
         </center>
      </ul>

   

   <%} %>

   </body>
   </html>










      
