  <title>TinyApp</title>
 <head>
 <% include ./partials/_header %> 
</head>
<body>
    <!-- Add your EJS code here -->

    <ul>

       Current URL: 
            <%= shortURL  %> - <%= fullURL %> <br><br><br>

 Type in Update in Long URL:<br>

            <form method="POST" action=/urls/<%=shortURL%>>  
                        <input type="submit text"   name = "longURL" >
            <input type = "submit" name = "check" value = "update">          
            



                        </form>          	


                           


            
       
    </ul>



</body>
</html>
