<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
 <head>
 	<% include ./partials/_header%>
</head>
<body>
    <!-- Add your EJS code here -->

    <body style="font-size:20px; padding:50px;">
    <br>
    <br>

   

    <% if (email === 'empty'){
           %> 
            <center>Looks like you're not logged-in!</center><br>
    <center>Login now by clicking on the login button!</center><br>
    

  
    <%}


    else {%>

    <h3><center>Your Tiny URLs:</center></h3>

    <ul>
        <% for (x in urls) { %>
            <li><%= urls[x]['fullURL']  %> - <%= x %> <form method="POST" action=<%=`/urls/${x}/delete`%>>  
            <input type="submit" value="Delete"></form>   <form method="POST" action=<%=`/urls/${x}/edit`%>>  
                        <input type="submit" value="edit"></form>        	

             

            </li>
        <% }; %>
    </ul>


    <%}


    %>

</body>
</html>
