<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
 <head>
 	<% include ./partials/_header%>
</head>
<body>
    <!-- Add your EJS code here -->

    <% if (urls === 'NOlogin' ){
           %> 
           Not logged in

  
    <%}

    else if(urls === "NOregister"){%>

    Not registered



    <%}

    else {%>

    <ul>
        <% for (x in urls) { %>
            <li><%= urls[x]['fullURL']  %> - <%= x %> <form method="POST" action=<%=`/urls/${x}/delete`%>>  
            <input type="submit" value="Delete"></form>   <form method="POST" action=<%=`/urls/${x}/edit`%>>  
                        <input type="submit" value="edit"></form>        	

             

            </li>
        <% }; %>
    </ul>


    <%}


    %>

</body>
</html>
