  <title>TinyApp</title>
 <head>
 <% include ./partials/_header %> 
</head>
<body>
    <!-- Add your EJS code here -->

    <ul>
       
            <li><%= shortURL  %> - <%= fullURL %>

            <form method="POST" action=/urls/<%=shortURL%>>  
                        <input type="submit text"   name = "longURL" >
            <input type = "submit" name = "check" value = "update">          
            



                        </form>          	


                           


            </li>
       
    </ul>



</body>
</html>
