<head>

      

           <% if (users.user_id['id'] === ''){
           %>    

           <form method="POST" action=/NotLogged id="form1"> 

           
           <input type = "submit" name = "login" value = "login">          


           </form> %>

           <form method="POST" action=/NotRegister id="form1"> 

           
           <input type = "submit" name = "register" value = "register">          


           </form> %>



           <%}


           else{%>
           

           <form method="POST" action=/logout id="form1"> 

           
           <input type = "submit" name = "logout" value = "logout">          


           </form> %>

           <%} %>


       
</head>

