<head>
<div style="background-color:lightblue">
<h2><center></center></h2>    
<p>

           <% if (!user_id){
           %>    

           <a href="/register" role="button" class="btn btn-primary btn-lg form-inline">Register</a>
           <a href="/login" role="button" class="btn btn-primary btn-lg">Login</a>    
         
           <%}


           else {%>
           User:<br>
           <%=email%>
           <br>


           <form method="POST" action=/logout id="form1"> 



           <input type = "submit" name = "logout" value = "logout">          


           </form> %>
           <a href="/urls/new" role="button" class="btn btn-primary btn-lg">New URL</a>    



           

           <%} %>
</p>
</div>

       
</head>



